<div class="full-menu">
    <div class="wrap">
        <nav class="navegacion">
            <ul class="menu-principal">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/explorar">Explorar</a>
                </li>
                <li>
                    <a th:if="${session.usuariosession == null}" href="/registro" >Registrate</a>
                </li>
                <li>
                    <a th:if="${session.usuariosession == null}" href="/login">Log In / Registrarte</a>
                </li>
                <li>
                    <a th:if="${session.usuariosession != null}" th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}">Edita tu perfil</a>
                </li>
                <li>
                    <a th:if="${session.usuariosession != null}" th:href="@{/}" >Mi perfil</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USUARIO_REGISTRADO')">
                    <a href="/logout" th:if="${session.usuariosession != null}" >Salir</a>
                </li>
            </ul>
        </nav>
        <div class="menu-text">
            <img src="/img/pintura1.jpg" alt="" height="300px" >
        </div>
    </div>
</div>
