@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: "Poppins", sans-serif;
  background: #909CC2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #E8DAB2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, #E8DAB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap{
	width: 90%;
	max-width: 1150px;
	margin: auto;
}


.main{
	height: 150px;
	background: #909CC2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #E8DAB2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, #E8DAB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
	position: absolute;
	width: 100%;
	z-index: 1;
}

header .wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}

header .btn-menu{
	font-size: 30px;
	cursor: pointer;
}

/* FULL MENU ===================*/

.full-menu{
	position: fixed;
	top: 0;
	left: -100%;

	width: 100%;
	height: 100vh;
	background: #E8DAB2;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.full-menu .wrap{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.full-menu .wrap .navegacion{
	flex-basis: 0;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

.full-menu .navegacion ul{
	list-style: none;
}

.full-menu .navegacion ul li{
	margin: 20px 0px;
}

.full-menu .navegacion ul li a{
	font-family: "Poppins", sans-serif;
	text-decoration: none;
	font-size: 50px;
	color: black;
}

.full-menu .navegacion .social-items a{
	text-decoration: none;
	font-size: 25px;
	color: black;
	margin: 50px 20px 0px 0px;
}

.full-menu .navegacion ul li a:hover,
.full-menu .navegacion .social-items a:hover{
	color: #084887;
}

.full-menu .wrap .menu-text{
	flex-basis: 0;
	flex-grow: 1;

	font-size: 15px;
	color:black;
	font-weight: 600;
	text-align: right;
}


/* RESPONSIVE*/

@media screen and (max-width: 850px){
	.main{
		height: 100px;
	}

	.caption-main h1{
		font-size: 60px;
	}

	/*Full menu*/
	.full-menu .navegacion ul li a{
		font-size: 30px;
	}

	.full-menu .menu-text p{
		font-size: 30px;
		font-weight: 400;
	}
    .full-menu .menu-text{
		display: none;
	}

	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 520px){
	.full-menu .menu-text{
		display: none;
	}

	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 450px){
	.main{
		height: 80px;
	}

  	.caption-main .btn-view{
		width: 180px;
		padding: 10px 0px;
		margin: 40px 40px;
		font-size: 18px;
	}
}

@media screen and (max-width: 340px){
	.main{
		height: 60px;
	}
}





/*Algo*/

.bootstrap-select{
	text-align: center;	
	position:static;
	padding-bottom: 5%;
	font-family: 'open sans'
	
}


h2.elegantshadow {
    color: #131313; 
    letter-spacing: .3em;
    text-align: center;
    font-size: 50px;

}


@media screen and (max-width: 450px){
  h2.elegantshadow {
    
    font-size: 30px;
 }
}

@media screen and (max-width: 340px){
  h2.elegantshadow {
    font-size: 20px;
 }
}



.masonry {
  columns: 4;
  column-gap: 16px;
  margin-top: 150px;;
}

@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
}

@media (max-width: 992px) {
  .masonry {
    columns: 2;
  }
}

.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}
.masonry .grid:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.masonry .grid img {
  width: 100%;
  border-radius: 5px;
}
.masonry .grid__title {
  font-size: 28px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}
.masonry .grid__author {
  font-size: 14px;
  font-weight: 300;
}
.masonry .grid__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.masonry .grid__body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.masonry .grid__tag {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.mt-auto {
  margin-top: auto;
}

.bootstrap-select .form-select{
	max-width: 20%!important;
 }






/*Footer*/
.pie-pagina{
  width: 100%;
  background-color: black;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 200px; 
  height: 150px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}


@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}
@media screen and (max-width: 270px){
  .pie-pagina .grupo-1 .red-social a{
    margin: 10px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 220px){
  .pie-pagina .grupo-1 .box figure img{
      width: 70%; 
      height: 150px;
      justify-content: center;
    }
  .pie-pagina .grupo-1 .red-social a{
    margin: 10px;
    flex-wrap: wrap;
  }
  .pie-pagina .grupo-1 .box h2{
      margin-bottom: 15px;
      font-size: 15px;
  }
  
  .pie-pagina .grupo-1 .box p{
      margin-bottom: 10px;
      font-size: 10px;
  }
  
}



/*Galeria*/

#galeria{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

#galeria img {
  width:100%;
  height:300px;
}

#galeria .foto {
  width: 15%;
  margin: 10px;
  height: 50%;
  position: relative;
  background-size: cover;
}

.texto{
  position: absolute;
  margin: 20px;
}

h3 a{
  text-decoration: none;
  color: black;
  font-size: 30px;;
}

.foto{
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 0 #D5D8DC;
  transition: all 300ms;
  position: relative;
}


.foto::after {
  content: "";
  background-color: rgba(179, 229, 252, .1);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  transform: scale(0);
  transition: all 300ms;
  opacity: 0;
}

.foto:hover:after{
  opacity: 1;
  transform: scale(1);
}

.foto:hover {
  transform: scale(1.05);
}

.foto-img{
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 1300px){
  #galeria{
    justify-content: center;
  }
  #galeria .foto {
    width: 30%;
    margin: 40px;
    height: 55%;
    position: relative;
    background-size: cover;
   

  }
  
  .texto{
    position: absolute;
    margin: 10px;
  }
  
  h3 a{
    text-decoration: none;
    color: black;
    font-size: 20px;;
    text-align: center;
  }
}




@media screen and (max-width:700px){
  #galeria{
    justify-content: center;
  }
 
  #galeria .foto {
    width: 55%;
    margin: 40px;
    height: 55%;
    position: relative;
    background-size: cover;
   

  }
  
  .texto{
    position: absolute;
    margin: 10px;
  }
  
  h3 a{
    text-decoration: none;
    color: black;
    font-size: 20px;;
    text-align: center;
  }
}