/*MENU*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  font-family: 'open sans';
  background: #909CC2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #E8DAB2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, #E8DAB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap{
	width: 90%;
	max-width: 1150px;
	margin: auto;

}


.main{
	height: 150px;
	background: #909CC2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff, #E8DAB2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff, #E8DAB2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
	position:absolute;
	width: 100%;
  z-index: 9;
}

header .wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}

header .btn-menu{
	font-size: 30px;
	cursor: pointer;
}

/* FULL MENU ===================*/

.full-menu{
	position: fixed;
	top: 0;
	left: -100%;
  z-index: 7;
	width: 100%;
	height: 100vh;
	background: #E8DAB2;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.full-menu .wrap{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.full-menu .wrap .navegacion{
	flex-basis: 0;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

.full-menu .navegacion ul{
	list-style: none;
}

.full-menu .navegacion ul li{
	margin: 20px 0px;
}

.full-menu .navegacion ul li a{
	font-family:"Poppins", sans-serif;
	text-decoration: none;
	font-size: 50px;
	color: black;
}

.full-menu .navegacion .social-items a{
	text-decoration: none;
	font-size: 25px;
	color: black;
	margin: 50px 20px 0px 0px;
}

.full-menu .navegacion ul li a:hover,
.full-menu .navegacion .social-items a:hover{
	color: #4A6879;
}

.full-menu .wrap .menu-text{
	flex-basis: 0;
	flex-grow: 1;

	font-size: 15px;
	color:black;
	font-weight: 600;
	text-align: right;
}


/* RESPONSIVE*/

@media screen and (max-width: 850px){
	.main{
		height: 100px;
	}

	.caption-main h1{
		font-size: 60px;
	}

	/*Full menu*/
	.full-menu .navegacion ul li a{
		font-size: 30px;
	}

	.full-menu .menu-text p{
		font-size: 30px;
		font-weight: 400;
	}
    .full-menu .menu-text{
		display: none;
	}

	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 520px){
	.full-menu .menu-text{
		display: none;
	}

	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 450px){
	.main{
		height: 80px;
	}

  	.caption-main .btn-view{
		width: 180px;
		padding: 10px 0px;
		margin: 40px 40px;
		font-size: 18px;
	}
}

@media screen and (max-width: 340px){
	.main{
		height: 60px;
	}
}


/*SLIDER*/

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 400px;
  margin-bottom: 40px;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 400%;

  animation: cambio 20s infinite alternate;
  animation-timing-function: linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider li img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
}

@supports (object-fit:cover{
  .slider img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}



/*Footer*/
.pie-pagina{
    width: 100%;
    background-color: black;
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 200px; 
    height: 150px;
  }
  
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
  }
  .pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  
  
  
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
  }
  @media screen and (max-width: 270px){
    .pie-pagina .grupo-1 .red-social a{
      margin: 10px;
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 220px){
    .pie-pagina .grupo-1 .box figure img{
        width: 70%; 
        height: 150px;
        justify-content: center;
      }
    .pie-pagina .grupo-1 .red-social a{
      margin: 10px;
      flex-wrap: wrap;
    }
    .pie-pagina .grupo-1 .box h2{
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .pie-pagina .grupo-1 .box p{
        margin-bottom: 10px;
        font-size: 10px;
    }
    
  }
  