/*MENU*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
  font-family: 'open sans';
  background: #909CC2;  
  background: -webkit-linear-gradient(to right, #fff, #E8DAB2); 
  background: linear-gradient(to right, #fff, #E8DAB2); 
}

.wrap{
	width: 90%;
	max-width: 1150px;
	margin: auto;

}


.main{
	height: 150px;
	background: #909CC2; 
  background: -webkit-linear-gradient(to right, #fff, #E8DAB2);  
  background: linear-gradient(to right, #fff, #E8DAB2); 
}

header{
	position:absolute;
	width: 100%;
  	z-index: 9;
}

header .wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}

header .btn-menu{
	font-size: 30px;
	cursor: pointer;
}

/* FULL MENU ===================*/

.full-menu{
	position: fixed;
	top: 0;
	left: -100%;
  	z-index: 7;
	width: 100%;
	height: 100vh;
	background: #E8DAB2;

	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}

.full-menu .wrap{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.full-menu .wrap .navegacion{
	flex-basis: 0;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

.full-menu .navegacion ul{
	list-style: none;
}

.full-menu .navegacion ul li{
	margin: 20px 0px;
}

.full-menu .navegacion ul li a{
	font-family:"Poppins", sans-serif;
	text-decoration: none;
	font-size: 50px;
	color: black;
}

.full-menu .navegacion .social-items a{
	text-decoration: none;
	font-size: 25px;
	color: black;
	margin: 50px 20px 0px 0px;
}

.full-menu .navegacion ul li a:hover,
.full-menu .navegacion .social-items a:hover{
	color: #4A6879;
}

.full-menu .wrap .menu-text{
	flex-basis: 0;
	flex-grow: 1;

	font-size: 15px;
	color:black;
	font-weight: 600;
	text-align: right;
}


/* RESPONSIVE*/

@media screen and (max-width: 850px){
	.main{
		height: 100px;
	}

	.caption-main h1{
		font-size: 60px;
	}

	/*Full menu*/
	.full-menu .navegacion ul li a{
		font-size: 30px;
	}

	.full-menu .menu-text p{
		font-size: 30px;
		font-weight: 400;
	}
    .full-menu .menu-text{
		display: none;
	}

	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 520px){
	.full-menu .menu-text{
		display: none;
	}

	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
}

@media screen and (max-width: 450px){
	.main{
		height: 80px;
	}

  	.caption-main .btn-view{
		width: 180px;
		padding: 10px 0px;
		margin: 40px 40px;
		font-size: 18px;
	}
}

@media screen and (max-width: 340px){
	.main{
		height: 60px;
	}
}




/* FOTO*/

.imgBody {
    position:absolute;
    margin-left: 40%;
    margin-top: -34%;
    padding: 15px;
    box-shadow: 5px 5px 25px #999;
    border: 1px solid black;
    cursor: pointer;
    transform: scale(1.1);
    transition: 250ms;
  }
  .imgBody:hover {
    transform: scale(1.01);
    transition: 250ms;
  }
  
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
	z-index: 3;
  }
  .lightbox img {
    margin-top: 3%;
    box-shadow: 0 0 25px #111;
    animation: bringDown 300ms forwards ease-out;
    border: none;
    padding: 0;
	align-content: center;
  }
  



.switch-input {
  display: none;
}
.container {
  height: 100vh;
  transition: background 0.25s ease-in-out;
}
.switch-control {
  position:absolute;
  margin: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #93e6ef;
  border-radius: 3em;
  transition: background 0.25s ease-in-out;
  cursor: pointer;
  z-index: 2;
}
.switch-control::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fbde0d;
  border-radius: inherit;
  box-shadow: 0 0 7px 1px #fbde0d;
  transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, left 0.25s ease-in-out;
}
.switch-input:checked + .switch-control {
  background: #3e5a98;
}
.switch-input:checked + .switch-control::before {
  left: 30px;
  background: #fafbb2;
  box-shadow: 0 0 4px 1px #fafbb2;
}
.switch-input:checked ~ .container {
  background: #333;
}




/*FOTO PERFIL*/

.container {
    z-index: 3;
    margin-top: 35%;
    display: flex;
  }
  .border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
    z-index: 3;
  }
  .border:hover {
    border: 1px solid #fff;
    z-index: 3;
  }
  .card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
  }
  .card0 {
    background: url("../img/artista.jpg") center center no-repeat;
    background-size: 300px;
    z-index: 3;
  }
  .card0:hover {
    background: url("../img/artista.jpg") left center no-repeat;
    background-size: 600px;
    z-index: 3;
  }
  .card0:hover h3 {
    opacity: 1;
    z-index: 3;
  }
  .card0:hover i {
    opacity: 1;
    z-index: 3;
  }
  
  h3 {
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  
  i {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  


/*Imagen Persona*/
.pantalla-dividida{
    width: 90%;
    display: flex;
    margin: auto;
    padding-top: 30px;
    margin-top: -5%;

} 


.derecha{
    text-align: center;
    padding: 70px 30px;
    margin: 20px;
}

.izquierda img{
   width: 300px;
   height: 350px;
   padding-top: 60px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}



h1{
    margin-top: 20px;
    color: black;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 a{
    color: black;
    font-size: 10px;
}

h1 a:hover{
   font-size: 20px;
}

.red-social2{
    margin: 10px;
}

.red-social2 a{
    display: inline-block;
    text-decoration: none;
    width: 42px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.red-social2 a:hover{
    color: aqua;
}

 
@media screen and (max-width:800px){      
    .pantalla-dividida{
        display: block;
        flex-wrap: wrap;
        margin: 0 10px;
        padding-top: 5px;
        text-align: center;
        margin-top: 0;
    }

    .izquierda img{
        padding-left: 25px;
        padding-top: 30px;
        padding-bottom: 50px;
        width: 100%;    
    }
    
    .container{
      margin-top: 10px;
      justify-content: center;
    }

    
}


/*Footer*/
.pie-pagina{
	width: 100%;
	background-color: black;
  }
  
  .pie-pagina .grupo-1{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:50px;
	padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
	width: 200px; 
	height: 150px;
  }
  
  .pie-pagina .grupo-1 .box h2{
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
	color: #efefef;
	margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	background-color: #0d2033;
	text-align: center;
	transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
	color: aqua;
  }
  .pie-pagina .grupo-2{
	background-color: #0a1a2a;
	padding: 15px 10px;
	text-align: center;
	color: #fff;
  }
  .pie-pagina .grupo-2 small{
	font-size: 15px;
  }
  
  
  
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
  }
  @media screen and (max-width: 270px){
    .pie-pagina .grupo-1 .red-social a{
      margin: 10px;
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 220px){
    .pie-pagina .grupo-1 .box figure img{
        width: 70%; 
        height: 150px;
        justify-content: center;
      }
    .pie-pagina .grupo-1 .red-social a{
      margin: 10px;
      flex-wrap: wrap;
    }
    .pie-pagina .grupo-1 .box h2{
        margin-bottom: 15px;
        font-size: 15px;
    }
    
    .pie-pagina .grupo-1 .box p{
        margin-bottom: 10px;
        font-size: 10px;
    }
    
  }
  