<!DOCTYPE html>
<html lang="es"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Contacto</title>
                    <link rel="stylesheet" href="/css/contacto.css">
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
                            <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
                            <script src="js/jquery-3.2.1.js"></script>
                            <script src="js/main.js"></script>


                            </head>
                            <body>
                                <div class="main">
                                    <header>
                                        <div class="wrap">
                                            <img src="img/La Vitre Logo - Original with Transparent Background.svg" style="width: 10%;" alt="">
                                                <div class="btn-menu" id="btn-menu">
                                                    <span class="fas fa-bars"></span>
                                                </div>
                                        </div>
                                    </header>
                                </div>

                                <div class="full-menu">
                                    <div class="wrap">
                                        <nav class="navegacion">
                                            <ul class="menu-principal">
                                                <li  th:if="${session.usuariosession == null }"><a th:text="${'Bienvenido'}" href="/">Bienvenido</a></</li>
                                                <li><a href="/explorar">Explorar</a></li>
                                                <li th:if="${session.usuariosession != null}"><a h:text="${'Inicio'}" href="/inicio">Inicio</a></li>
                                                <li  th:if="${session.usuariosession == null }"><a th:text="${'Registrarse/Log in'}" href="/registro">Registrarse/Log in</a></</li>
                                                <li th:if="${session.usuariosession != null}" ><a th:text="${'Mis Obras'}" th:href="@{/obra/mis-obras}">Mis obras</a></li>
                                                <li th:if="${session.usuariosession != null}" ><a th:text="${'Salir'}" href="/logout">Salir</a></li>
                                            </ul>
                                        </nav>

                                        <section class="menu-text">
                                            <img src="img/pintura.jpg" class="Img-logo" alt="" height="300px" >
                                        </section>
                                    </div>
                                </div>

                                <main class="cuerpo">
                                    <div class="content">

                                        <h1 class="logo">Comunicate <span>con nosotros</span></h1>

                                        <div class="contact-wrapper animated bounceInUp">
                                            <div class="contact-form">
                                                <h3>Contactanos</h3>
                                                 <form action="/envioContacto" name="form" enctype= "multipart/form-data" method="post">
                                                    <p>
                                                        <label>Nombre</label>
                                                        <input type="text" name="nombre" placeholder="Escriba su nombre ">
                                                    </p>
                                                    <p>
                                                        <label>Email</label>
                                                        <input type="text" name="mail" placeholder="Escriba su email">
                                                    </p>
                                                    <p>
                                                        <label>Asunto</label>
                                                        <input type="text" name="asunto" placeholder="Escriba el asunto">
                                                    </p>
                                                    <p class="block">
                                                        <label>Mensaje:</label> 
                                                        <textarea name="mensaje" rows="3"style="resize:none"></textarea>
                                                    </p>
                                                    <p class="block2">
                                                        <input class="boton" type="submit"  id="enviar" value="Enviar"> 
                                                    </p>
                                                </form>
                                            </div>
                                            <div class="contact-info">
                                                <img src="img/La Vitre Logo - Original with Transparent Background.svg" alt="">
                                            </div>
                                        </div>

                                    </div>
                                </main>

                                <footer class="pie-pagina">
                                    <div class="grupo-1">
                                        <div class="box">
                                            <figure>
                                                <a href="/">
                                                    <img src="img/La Vitre Logo Footer - Original with Transparent Background (1).svg " alt="Logo de La Vitree" class="Logo-footer">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="box">
                                            <h2>SOBRE NOSOTROS</h2>
                                            <p>Buscamos cambiar la forma de observar las cosas</p>
                                            <p>Somos una galeria virtual que ayuda a autores a dar a conocer su arte.</p>
                                        </div>
                                        <div class="box">
                                            <h2>SIGUENOS</h2>
                                            <div class="red-social">
                                                <a href="https://www.facebook.com/profile.php?id=100075222422136" target="_black" class="fa fa-facebook"></a>
                                                <a href="https://www.instagram.com/lavitreeegg/?hl=es" target="_black" class="fa fa-instagram"></a>
                                                <a href="https://twitter.com/Lavitree_egg" target="_black" class="fa fa-twitter"></a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grupo-2">
                                        <small>&copy; 2021 <b>Galeria La Vitrée</b> - Todos los Derechos Reservados.</small>
                                    </div>
                                </footer>


                            </body>
                            </html>