
<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>perfil</title>
                    <link rel="stylesheet" href="/css/configuracionPerfil.css">
                        <link href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
                            <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

                            <script src="/js/jquery-3.2.1.js"></script>
                            <script src="/js/main.js"></script>


                            </head>
                            <body>

                                <div class="main">
                                    <header>
                                        <div class="wrap">
                                            <img src="/img/La Vitre Logo - Original with Transparent Background.svg" style="width: 10%;" alt="">
                                                <div class="btn-menu" id="btn-menu">
                                                    <span class="fas fa-bars"></span>
                                                </div>
                                        </div>
                                    </header>
                                </div>

                                <div class="full-menu">
                                    <div class="wrap">
                                        <nav class="navegacion">
                                            <ul class="menu-principal">
                                                <li  th:if="${session.usuariosession == null }"><a th:text="${'Bienvenido'}" href="/">Bienvenido</a></</li>
                                                <li><a href="/explorar">Explorar</a></li>
                                                <li th:if="${session.usuariosession != null}"><a h:text="${'Inicio'}" href="/inicio">Inicio</a></li>
                                                <li  th:if="${session.usuariosession == null }"><a th:text="${'Registrarse/Log in'}" href="/registro">Registrarse/Log in</a></</li>
                                                <li th:if="${session.usuariosession != null}" ><a th:text="${'Perfil'}" href="/perfil_obsoporahora">Perfil</a></li>
                                                <li th:if="${session.usuariosession != null}" ><a th:text="${'Salir'}" href="/logout">Salir</a></li>
                                           
                                            </ul>
                                        </nav>

                                        <section class="menu-text">
                                            <img src="/img/pintura.jpg" alt="" height="300px" >
                                        </section>
                                    </div>
                                </div>

                                <main class="cuerpo">
                                    <div class="wrapper">
                                        <div class="title">
                                            Actualizar Datos
                                        </div>
                                        <div class="form">
                                            <form action="/usuario/actualizar-perfil" method="POST" enctype="multipart/form-data">
                                                <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
                                                <input type="hidden" name="id" th:value="${perfil.id}">
                                                    <div class="inputfield">
                                                        <label>Foto de perfil</label>
                                                    </div>     

                                                    <div class="form-file">
                                                            <input type="file" name="archivo" th:value="${perfil.foto}" accept="image/png, image/jpeg, image/jpg" />
                                                    </div>

                                                    <div class="inputfield">
                                                        <label>Nombre</label>
                                                        <input type="text" class="input" name="nombre" th:value="${perfil.nombre}">
                                                    </div>  

                                                    <div class="inputfield">
                                                        <label>Apellido</label>
                                                        <input type="text" class="input" name="apellido" th:value="${perfil.apellido}">
                                                    </div>  

                                                    <div class="inputfield">
                                                        <label>Email </label>
                                                        <input type="text" class="input" name="mail" th:value="${perfil.mail}">
                                                    </div> 

                                                    <div class="inputfield">
                                                        <label>Contraseña</label>
                                                        <input type="password" class="input" name="clave1">
                                                    </div>  
                                                    <div class="inputfield">
                                                        <label>Confirmar contraseña</label>
                                                        <input type="password" class="input" name="clave2">
                                                    </div>                   

                                                    <div class="inputfield">
                                                        <label for=""><i class="fa fa-facebook"></i></label>
                                                        <input type="text"  class="input" name="facebook" th:value="${perfil.facebook}" placeholder="Su Fb">
                                                    </div> 

                                                    <div class="inputfield">
                                                        <label for=""> <i class="fa fa-instagram"></i> </label>
                                                        <input type="text"  class="input" name="instagram" th:value="${perfil.instagram}" placeholder="Su ig">
                                                    </div>  
                                                    <div class="inputfield">
                                                        <label for=""><i class="fa fa-linkedin-square"></i></label>
                                                        <input type="text"  class="input" name="linkedin" th:value="${perfil.linkedin}" placeholder="Su linkedin">
                                                    </div>  
                                                    <div class="inputfield">
                                                        <label for=""><i class="fab fa-twitter" ></i></label>
                                                        <input type="text"  class="input" name="twitter" th:value="${perfil.twitter}" placeholder="Su twitter">
                                                    </div>  

                                                    <div class="inputfield">
                                                        <label for=""><i class="fas fa-map-marker-alt"></i></label>
                                                        <select class="form-control" name="pais"> 
                                                            <option th:each="paises : ${paises}" th:value="${paises}" th:text="${paises}" th:selected="${paises == perfil.paises}"  ></option>
                                                        </select> 
                                                    </div>  
                                                    <div class="inputfield">
                                                        <label>Descripción</label>
                                                        <textarea class="textarea" type="text" name="biografia" th:value="${perfil.biografia}" th:text="${perfil.biografia}"></textarea>
                                                    </div> 
                                                    <button type="submit" class="btn">Actualizar</button>
                                            </form>
                                        </div>
                                    </div>	
                                </main>

                                <footer class="pie-pagina">
                                    <div class="grupo-1">
                                        <div class="box">
                                            <figure>
                                                <a href="/">
                                                    <img src="/img/La Vitre Logo Footer - Original with Transparent Background (1).svg" alt="Logo de La Vitree" class="Logo-footer">
                                                </a>
                                            </figure>
                                        </div>
                                        <div class="box">
                                            <h2>SOBRE NOSOTROS</h2>
                                            <p>Buscamos cambiar la forma de observar las cosas</p>
                                            <p>Somos una galeria virtual que ayuda a autores a dar a conocer su arte.</p>
                                        </div>
                                        <div class="box">
                                            <h2>SIGUENOS</h2>
                                            <div class="red-social">
                                                <a href="https://www.facebook.com/" target="_black" class="fa fa-facebook"></a>
                                                <a href="https://www.instagram.com/" target="_black" class="fa fa-instagram"></a>
                                                <a href="https://twitter.com/" target="_black" class="fa fa-twitter"></a>
                                                <a href="https://www.youtube.com/" target="_black" class="fa fa-youtube"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grupo-2">
                                        <small>&copy; 2021 <b>Galeria La Vitrée</b> - Todos los Derechos Reservados.</small>
                                    </div>
                                </footer>

                            </body>
                            </html>