<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<section>
    <div class="container">
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <form enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${obra.id}">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" th:value="${obra.nombre}"/>
                    <br>
                    <label>Descripcion</label>
                    <textArea type="text" name="descripcion" th:value="${obra.descripcion}"
                              th:text="${obra.descripcion}"></textArea>
                    <br>
                    <label>Precio</label>
                    <input type="number" class="form-control" name="precio" th:value="${obra.precio}"/>
                    <br>
                    <label>Tipo de obra</label>
                    <select class="form-control" name="tipoDeObra">
                        <option th:each="tipo : ${tipos}" th:value="${tipo}" th:text="${tipo}"
                                th:selected="${tipo == obra.tipoDeObra}"></option>
                    </select>
                    <br>
                    <label>Estilo</label>
                    <select class="form-control" name="estilo">
                        <option th:each="estilo : ${estilos}" th:value="${estilo}" th:text="${estilo}"
                                th:selected="${estilo == obra.estilo}"></option>
                    </select>
                    <label>Desea agregar una foto?</label>
                    <input type="file" class="form-control" name="archivo1" accept="image/png, image/jpeg, image/jpg"/>
                    <!--arreglar para varias fotos-->
                    <br/>

                    <button type="submit" class="btn btn-primary" formaction="/obra/actualizar-obra" formmethod="POST">
                        Actualizar obra
                    </button>
                </form>
                <h2>Desea eliminar alguna foto papu?</h2>
                <div th:if="${!fotos.isEmpty()}">
                    <div th:each="fotos : ${fotos}">
                        <div>
                            <img th:if="${fotos != null}" class="img-fluid" th:src="${'/foto/obra/galeria/' + fotos.id}"
                                 alt="user" style="max-height: 70px">
                            <br>
                            <a th:href="@{/obra/eliminar-foto}+'?id='+${fotos.id}">Eliminar fotito</a>
                        </div>
                    </div>
                </div>
                <p th:if="${fotos.isEmpty()}">No tiene imagenes esta obra</p>
            </div>
        </div>
    </div>
    </div>
</section>
</body>

</html>